/* You can add global styles to this file, and also import other style files */
* {
    background-color: #000000;
    /* font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'Jura', sans-serif;
    color: #ffffff;
}
